# Movie Recommender 


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mahdi-ebrahimi-per/AI/blob/main/5-%20Recommender/Recommender.ipynb)


<br>
<br>
<br>

# Packages

In [26]:
import numpy as np
import pandas as pd

# Load anad Config DataSet

In [19]:
r_cols = ["user_id", "movie_id", "rating"]   # rating columns
ratings = pd.read_csv("movies_data.txt", sep= '\t', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title'] # movie column
movies = pd.read_csv("movies_item.txt", sep="|", names=m_cols, usecols=range(2))
# movies.head()

In [20]:
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [21]:
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [22]:
ratings = pd.merge(movies, ratings)
ratings

       movie_id                                      title  user_id  rating
0             1                           Toy Story (1995)      308       4
1             1                           Toy Story (1995)      287       5
2             1                           Toy Story (1995)      148       4
3             1                           Toy Story (1995)      280       4
4             1                           Toy Story (1995)       66       3
...         ...                                        ...      ...     ...
99989      1678                          Mat' i syn (1997)      863       1
99990      1679                           B. Monkey (1998)      863       3
99991      1680                       Sliding Doors (1998)      863       2
99992      1681                        You So Crazy (1994)      896       3
99993      1682  Scream of Stone (Schrei aus Stein) (1991)      916       3

[99994 rows x 4 columns]

# Rating table per users
show all user (user_id) ratings in one row ,  if user doesn't see movie, the value of that will be NaN

In [29]:
moviesRatings = ratings.pivot_table(index='user_id' , columns='title' , values='rating')

test_rating = moviesRatings['Toy Story (1995)']

moviesRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
moviesRatings.corr(method="pearson", min_periods=10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.000000,-0.049890,NaN,0.048973,0.266928,-0.043407,NaN,0.111111,...,0.042025,NaN,NaN,NaN,0.158840,0.119234,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,-0.049890,1.000000,NaN,0.256625,0.274772,0.178848,NaN,0.457176,...,0.179640,NaN,NaN,NaN,0.096546,0.068944,-0.361961,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,1.0,0.596644,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns (1988),NaN,NaN,0.119234,0.068944,NaN,0.156220,-0.010894,-0.174918,NaN,-0.337691,...,0.038792,NaN,NaN,NaN,0.510284,1.000000,0.722460,NaN,NaN,NaN
Young Guns II (1990),NaN,NaN,NaN,-0.361961,NaN,0.132017,NaN,-0.154765,NaN,NaN,...,0.129634,NaN,NaN,NaN,0.355001,0.722460,1.000000,NaN,NaN,NaN
"Young Poisoner's Handbook, The (1995)",NaN,NaN,NaN,NaN,NaN,0.204926,NaN,-0.341753,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.413197,NaN,NaN,1.0,NaN,NaN
Zeus and Roxanne (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
� k�ldum klaka (Cold Fever) (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Find similar movies (First Algorithm)
    - check ratings of the movies that like user seen movie (similarity)

but this way not work good

In [24]:
StarWars_Rating = moviesRatings['Star Wars (1977)']
SimilarMoive = moviesRatings.corrwith(StarWars_Rating)
SimilarMoive.dropna()  # drop NaN values
SimilarMoive.sort_values(ascending=False)
SimilarMoive_DF =pd.DataFrame(SimilarMoive)
SimilarMoive_DF.head()

c:\Users\mahdi\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\_function_base_impl.py:2922: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
c:\Users\mahdi\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\_function_base_impl.py:2923: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
c:\Users\mahdi\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\_function_base_impl.py:2914: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\mahdi\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\_function_base_impl.py:2773: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
c:\Users\mahdi\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\_function_base_impl.py:2773: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

                                  0
title
'Til There Was You (1997)  0.872872
1-900 (1994)              -0.645497
101 Dalmatians (1996)      0.211132
12 Angry Men (1957)        0.184289
187 (1997)                 0.027398

# Find similar movies (Secend Algorithm)
    - considering joined : similarity and ratings mean and ratings count
    
    - sort based on similarity


the point is this algorithm is for comparison of just one movie (our example is similar of Star wars) to recommend similar movies

In [27]:
moviesStats = ratings.groupby('title').agg({'rating' : [np.size, np.mean]})
moviesStats.head(10)

popularMovies = moviesStats["rating"]["size"] >= 100
moviesStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:10]


df = moviesStats[popularMovies].join(pd.DataFrame(SimilarMoive, columns=['similarity']))
df.sort_values(['similarity'], ascending=False)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_29516\1610706131.py:1: FutureWarning: The provided callable <function mean at 0x0000025B2A6ABD80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  moviesStats = ratings.groupby('title').agg({'rating' : [np.size, np.mean]})

MergeError: Not allowed to merge between different levels. (2 levels on the left, 1 on the right)

# Find similar movies (third Algorithm)
    - The exact prediction of a movie is directly connected  the evaluation the movie's score got, so we use limitations of min score got for each movies

    
    - ?
    

the point is this algorithm is for comparison of multiple movies to recommend similar movies

In [26]:
# corrMatrix = moviesRatings.corr()
# corrMatrix.head()

corrMatrix = moviesRatings.corr(method="pearson", min_periods=100)
    # min periods -> هر چه تعداد رای به فیلم ها بیشتر باشد، اتکای بالاتری داریم، 
        # این مشخص میکند که حداقل چند رای برای فیلم باشد
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Wyatt Earp (1994),Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),� k�ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# فیلم هایی که کاربر دوست داشته


userID = 0
myRatings = moviesRatings.loc[userID].dropna()
print(myRatings)

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [14]:
similarCondidates = pd.Series()

for i in range(len(myRatings.index)):
    print(f'adding similar movies for {myRatings.index[i]}')
    SimilarMoives_ = corrMatrix[myRatings.index[i]].dropna()
    # print(SimilarMoives_)
    SimilarMoives_ = SimilarMoives_.map(lambda x : x * myRatings[i])
    similarCondidates = similarCondidates.append(SimilarMoives_)

print('sorting ........')

similarCondidates.sort_values(inplace=True, ascending=False)
similarCondidates.head()

adding similar movies for Empire Strikes Back, The (1980)
adding similar movies for Gone with the Wind (1939)
adding similar movies for Star Wars (1977)
sorting ........

<ipython-input-14-eca7310c257a>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  similarCondidates = pd.Series()

Empire Strikes Back, The (1980)    5.000000
Star Wars (1977)                   5.000000
Empire Strikes Back, The (1980)    3.741763
Star Wars (1977)                   3.741763
Return of the Jedi (1983)          3.606146
dtype: float64

In [17]:
# حذف تکراری ها، ولی تکراری ها اولویت بالاتری دارند چون در بالا چندبار گفته شده
similarCondidates = similarCondidates.groupby(similarCondidates.index).sum()
similarCondidates.sort_values(inplace=True, ascending=False)
similarCondidates.head(10)

Empire Strikes Back, The (1980)              8.877450
Star Wars (1977)                             8.870971
Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
dtype: float64

In [23]:
# حذف فیلم هایی که کاربر قبلا دیده

filterSimilarCondidates = similarCondidates.drop(myRatings.index)
filterSimilarCondidates.head(10)

Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
Wizard of Oz, The (1939)                     3.200268
Dumbo (1941)                                 2.981645
dtype: float64